<!-- document_list.html -->

<h2>My Documents</h2>
<ul>
  {% for document in documents %}
    <li>
      {{ document.title }} (uploaded on {{ document.created_at|date:"Y-m-d H:i" }})<p>Ostatnio edytowany przez: {{ document.last_edited_by.username }} dnia {{ document.updated_at }}</p>
      <p>Ostatnio zastąpiony przez: {{ document.last_replaced_by.username }} dnia {{ document.updated_at|date:"Y-m-d H:i" }}</p>
      <p>Ostatnio zastąpiony przez: {{ document.last_replaced_by.username }} dnia {{ document.last_replaced_at|date:"Y-m-d H:i" }}</p>

      - <a href="{% url 'document_edit' document.id %}">Edit</a>
      <a href="{{ document.file.url }}" download="{{ document.file.name }}">Pobierz</a>
      <a href="{% url 'document_replace' document.id %}">Zastąp</a>

    </li>
  {% endfor %}
</ul>
